
            @keyframes fadeAnim {  
                0%   { opacity:0; }
                50%  { opacity:1; }
                100% { opacity:0; }
            }
            
            @keyframes ping {
                0%   { transform: scale(1); }
                50%  { transform: scale(1.1); }
                100% { transform: scale(1) }
            }
            body{
                transition: all 0.5s;
                font-family: sans-serif;   
            }
            #qr-video, #cam-has-camera, #flash-toggle {
                display: none;
            }
            hr {
                margin-top: 32px;
            }
            input[type="file"] {
                display: block;
                margin-bottom: 16px;
            }
            #camera-toggle {
                position: fixed;
                width: 25%;
                max-width: 4em;
                height: 25%;
                max-height: 4em;
                z-index: 100;
                left: 50%;
                bottom: 1em;
                transform: translate(-50%, 0);
                padding: 1em;
                border-radius: 50%;
                background:rgba(0,0,0,0.75); ;
                color:white;
                cursor: pointer;
                transition: 0.2s all ease-out;
                transform-origin: center center;

            }
            #camera-toggle:hover {
                background:white;
                color:black;

            }
            #camera-toggle.show {
                transform: translate(-50%, 20%) scale(0.7) rotate(180deg);
                background:rgba(0,0,0,0.75);;
                color:white;
            }
            
            #camera-toggle.show:hover {
                background:rgba(255,255,255,0.75); ;
                color:black;
            }

            #camera-toggle span{
                font-size: 4.5rem;
                position: absolute;
                  top: 50%;
                left: 50%;
               transform: translate(-50%, -50%);
            }
            #camera-toggle .on{
                opacity:1;
            //    transform: rotate(90deg);
            }
            #camera-toggle.show .on{
                opacity:0;
            }
            #camera-toggle .off{
                opacity:0;
            }
            #camera-toggle.show .off{
                opacity:1;
            }
            #geolocation-toggle {
                position: fixed;
                width: 10%;
                max-width: 1em;
                height: 10%;
                max-height: 1em;
                z-index: 100;
                top: 1em;
                right: 0;
                transform: translate(-50%, 0);
                padding: 1em;
                border-radius: 50%;
                background:rgba(0,0,0,0.75); ;
                color:rgb(255, 255, 255);
                cursor: pointer;
                transition: 0.2s all;
            }

            #geolocation-toggle span{
                font-size: 2rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            /* on off unavailable searching */
            #geolocation-toggle .unavailable, #geolocation-toggle .on,  #geolocation-toggle.unavailable .off, #geolocation-toggle.searching .unavailable  { 
                opacity: 0;
            }
            #geolocation-toggle.unavailable .unavailable,#geolocation-toggle.on .on  { 
                opacity: 1;
            }

            #geolocation-toggle.ping { 
                animation: fadeAnim 1s;
            }
            #geolocation-toggle.searching .on { 
                animation: fadeAnim 1s infinite;
            }
            #qr-cam {
                transition: all 0.5s ease-out;
                z-index: 10;
                width: 80%;
                margin: 0 auto;
                background: rgba(255,255,255,1);
                border-radius: 1em;
                padding: 3%;
                max-width: 30em;
                position: fixed;
                left: 50%;
                transform: translate(-50%, 100%);
                bottom: 0;
                text-align: center;
                transform: translate(-50%, 100%);
                padding-bottom: 6em;

                box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
            }

            #qr-cam.show {

                transform: translate(-50%, 1em);
            }

            #qr-cam-holder{
                width: 100%;
                padding-top: 100%; /* 1:1 Aspect Ratio */
                position: relative; 

            }
            #scan-area {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;   
                width: 100%;
                height: 100%;
                background-color: ivory;
                border-radius: 5%;
             //   border: 1em solid rgba(255,255,255,1);
            }


            #map {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;   
                width: 100%;
                height: 100%;
            }

            #settings-toggle {
                position: fixed;
                width: 10%;
                max-width: 1em;
                height: 10%;
                max-height: 1em;
                z-index: 101;
                bottom: 1em;
                right: 0;
                transform: translate(-50%, 0);
                padding: 0.25em;
                font-size: 2em;
                border-radius: 50%;
                background:rgba(0,0,0,0.75); ;
                color:rgb(255, 255, 255);
                cursor: pointer;
                transition: 0.2s all;

            }
            #settings-options {

                z-index: 100;
                position: fixed;
                background: rgba(255, 255, 255, 1);
                color: black;
                border-radius: 0.5em;
                padding: 1em;
                width: 80%;
                bottom: 0.5em;
                right: 0.5em;
                max-width: 12em;
                font-size: 1.2em;
                padding-bottom:4em;
                transform: translateX(150%);
                transition:0.5s all;
                box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
            }

            #settings-options.open {
                transform: translateX(0%);
            }
            #settings-options .material-icons{

                font-size: 2rem;
            }
            #map-toggle, #settings-clear{
                cursor: pointer;
                margin:0;
                padding: 0.5em;
            }
            #map-toggle #toggle {
                width: 2rem;  
                height: 1.5rem;  
                padding: 0;
                display: inline-block;
                position: relative;
            }
            #map-toggle #toggle span {
                position: absolute;
                opacity: 0;
            }
            #map-toggle.satellite #toggle .on, #map-toggle.roadmap #toggle .off{
                opacity: 1;
            }
            #map-toggle.satellite #toggle .on, .done {
                color: #02d800;
            }

            #settings-options .option:hover{
                box-shadow: 0 0 0 0.2em black;
            }

            #welcome {
                overflow: hidden;
                transform: translate(0, 200%);
                position: absolute;
                background-color: white;
                border-radius: 1em;
                margin: auto auto;
                width: 80%;
                height: 80%;
                max-width: 30em;
                max-height: 30em;
                padding:5%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 200;
                transition: all 0.6s;
                box-shadow: 0 0 2em rgba(0,0,0,0.3);
            }
            #welcome.open {
                transform: translate(0,0);
            }